@import "./reset";
@import "./var";


body {
  min-height: 100vh;
  background-color: $main-color;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

.wrap {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 0 30px;
}
@media screen and (max-width: 480px) {
  .wrap {
    padding: 0 20px;
  }
}

.step {
  background: #efefef;
  .bar {
    height: 5px;
    background-color: $contract;
  }
}

.question {
  margin-bottom: 40px;
}
.hide {
  display: none;
}
.intro {
  margin-top: 30px;
}
.el-radio.radio-selection {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid $contract;

  &.is-checked {
    background: $contract;
  }
  .el-radio__input.is-checked+.el-radio__label {
    color: white;
  }

  .el-radio__input {
    display: none;
  }
}